{{> head}}
{{> navbar }}

<div>
  <div class="col-8">
    <h1> Simpson</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut odio ipsum, in incidunt consequatur reiciendis quam
      dolor harum porro, ratione ipsa fuga a sapiente sit officiis optio itaque hic consectetur?
    </p>
  </div>
  <div class="col-4">
    <img src="assets/img/giphy.png" class="img-thumbnail" style="width: 400px; height: 400px;">
  </div>
</div>

{{> footer}}